POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=falkdrop

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# ========== GARAGE ==========
# GARAGE_DEFAULT_BUCKET=falkdrop
# GARAGE_DEFAULT_ACCESS_KEY= # random 34 char
# GARAGE_DEFAULT_SECRET_KEY= # random 64 char
# GARAGE_RPC_SECRET= # random 32 char
