KEYCLOAK_CLIENT_ID=falkdrop-api
KEYCLOAK_REALM_URL=http://localhost:8080/realms/falkdrop
DATABASE_URL=postgres://user:password@localhost:5432/falkdrop?sslmode=disable

# ========== CORS ==========
CORS_ALLOWED_ORIGINS=http://localhost:5173

# ========== GARAGE ==========
# OBJECTSTORE_PROVIDER=garage
# GARAGE_BUCKET=falkdrop
# AWS_ENDPOINT_URL=http://localhost:3900
# AWS_DEFAULT_REGION=garage
# AWS_ACCESS_KEY_ID=$GARAGE_DEFAULT_ACCESS_KEY
# AWS_SECRET_ACCESS_KEY=$GARAGE_DEFAULT_SECRET_KEY

# ========== AWS ==========
# OBJECTSTORE_PROVIDER=s3
# S3_BUCKET=falkdrop
# AWS_DEFAULT_REGION=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
